/* blue */
$blue-50: #E3F4FC;
$blue-100: #C8E9FA;
$blue-150: #ADDFF7;
$blue-200: #91D2F2;
$blue-250: #77C6ED;
$blue-300: #5CB8E5;
$blue-350: #41A6D9;
$blue-400: #2C93C7;
$blue-450: #1B80B2;
$blue-500: #0F6B99;
$blue-550: #095880;
$blue-600: #054666;
$blue-700: #02344D;
$blue-800: #012233;
$blue-900: #00111A;

/* grey */
$grey-50: #E4E5E6;
$grey-100: #C8CBCC;
$grey-150: #ADB1B2;
$grey-200: #919699;
$grey-250: #777D80;
$grey-300: #5C6366;
$grey-350: #41494D;
$grey-400: #2C3438;
$grey-450: #1B2226;
$grey-500: #0F161A;
$grey-550: #090F12;
$grey-600: #050A0D;
$grey-700: #020608;
$grey-800: #010405;
$grey-900: #000203;
/* */
$lightgrey-50-percent: #F2F2F280;

/* white */
$white: #FFF;
$white-2: #FAFAFA;
$white-5: #F2F2F2;
$white-10: #E6E6E6;
$white-10-semi: #FFFFFF1A;
$white-20: #CCC;
$white-80-percent: #FFFC;
$white-10-percent: #FFFFFF1A;

/* black */
$black: #000;

/* neutral */
$neutral-10: #E5E5E5;
