$font-size-8: 0.5em;
$font-size-9: 0.563em;
$font-size-10: 0.625em;
$font-size-11: 0.688em;
$font-size-12: 0.75em;
$font-size-13: 0.813em;
$font-size-14: 0.875em;
$font-size-15: 0.938em;
$font-size-16: 1em;
$font-size-17: 1.063em;
$font-size-18: 1.125em;
$font-size-19: 1.188em;
$font-size-20: 1.25em;
$font-size-21: 1.313em;
$font-size-22: 1.375em;
$font-size-23: 1.438em;
$font-size-24: 1.5em;
$font-size-25: 1.563em;
$font-size-26: 1.625em;
$font-size-27: 1.688em;
$font-size-28: 1.75em;
$font-size-29: 1.813em;
$font-size-30: 1.875em;
$font-size-31: 1.938em;
$font-size-32: 2em;
$font-size-39: 2.438em;
$font-size-40: 2.5em;
$font-size-48: 3em;
$font-size-49: 3.062em;
$font-size-50: 3.125em;
$font-size-56: 3.5em;
$font-size-61: 3.812em;
$font-size-65: 4.0625em;
$font-size-72: 4.5em;
$font-size-160: 10em;
