$offset-1: 1px;
$offset-4: 4px;
$offset-5: 5px;
$offset-8: 8px;
$offset-10: 10px;
$offset-12: 12px;
$offset-14: 14px;
$offset-16: 16px;
$offset-18: 18px;
$offset-20: 20px;
$offset-24: 24px;
$offset-26: 26px;
$offset-28: 28px;
$offset-32: 32px;
$offset-36: 36px;
$offset-40: 40px;
$offset-44: 44px;
$offset-48: 48px;
$offset-50: 50px;
$offset-54: 54px;
$offset-58: 58px;
$offset-60: 60px;
$offset-64: 64px;
$offset-72: 72px;
$offset-80: 80px;
$offset-88: 88px;
$offset-100: 100px;
