<div class="document">
  <div
    style="
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: flex-end;
      width: 100%;
    "
  >
    <button
      (click)="reset()"
      nz-button
      nzDanger="true"
      nzType="primary"
      style="width: fit-content"
    >
      Сбросить фильтры
    </button>
    <button
      (click)="showAddDocumentModal()"
      nz-button
      nzType="primary"
      style="width: fit-content"
    >
      Добавить
    </button>
  </div>
  <nz-table
    #sortTable
    (nzPageIndexChange)="handlePageChange($event)"
    (nzPageSizeChange)="handleLimitChange($event)"
    [nzBordered]="true"
    [nzData]="documentList$ | async"
    [nzFrontPagination]="false"
    [nzLoading]="isLoadingTable"
    [nzPageIndex]="paginationDocuments.page"
    [nzPageSizeOptions]="[20, 50, 100]"
    [nzPageSize]="paginationDocuments.limit"
    [nzShowSizeChanger]="true"
    [nzTotal]="paginationDocuments.total"
    class="document__table"
    nzTableLayout="fixed"
  >
    <thead>
    <tr>
      <th nzCustomFilter nzWidth="100px">Номер</th>
      <th nzCustomFilter nzWidth="200px">
        ID документа
        <nz-filter-trigger
          [(nzVisible)]="searchDocumentIdVisible"
          [nzActive]="
              searchDocumentByField.get('documentNumber').value.length > 0
            "
          [nzDropdownMenu]="documentNumber"
        >
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th nzCustomFilter>
        Заголовок
        <nz-filter-trigger
          [(nzVisible)]="searchTitleVisible"
          [nzActive]="searchDocumentByField.get('title').value.length > 0"
          [nzDropdownMenu]="title"
        >
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th nzCustomFilter>Документ (original)</th>
      <th nzCustomFilter>Документ (translated)</th>
      <th nzCustomFilter nzWidth="130px">Просмотры</th>
      <th nzCustomFilter nzWidth="200px">
        Дата создания
        <nz-filter-trigger
          [(nzVisible)]="searchCreatedDateVisible"
          [nzActive]="formatDate.length > 0 || false"
          [nzDropdownMenu]="createdDate"
        >
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th nzWidth="250px"></th>
    </tr>
    </thead>
    <tbody class="document__table__tbody">
      @for (data of sortTable.data; track data._id) {
        <tr>
          <td>{{ data.i }}</td>
          <td>{{ data.documentNumber }}</td>
          <td>{{ data.title || "-" | textMask: 30 }}</td>
          <td>
            {{
              data.original?.split("/")?.slice(-1).join() || "-" | textMask: 30
            }}
          </td>
          <td>
            {{
              data.translated?.split("/")?.slice(-1).join() || "-"
                | textMask: 30
            }}
          </td>
          <td>{{ data.viewCount }}</td>
          <td>{{ data.createdAt | date: "dd.MM.YYYY" }}</td>
          <td class="document__table__tbody__td">
            <div class="document__table__tbody__td__action">
              <nz-tag
                style="cursor: pointer"
                [routerLink]="['/admin/documents', data._id]"
              >Смотреть
              </nz-tag>
              <!-- <a href="https://fdholding.gymrat.uz/uploads/IELTS_CERTIFICATE-244699367.pdf" download>download</a> -->
              <nz-tag
                style="cursor: pointer"
                [nzColor]="'cyan'"
                (click)="handleDownloadDocument(data)"
              >
                @if (data.translated && data.original) {
                  Скачать
                } @else {
                  Нет файла
                }
              </nz-tag>
              <nz-tag
                style="cursor: pointer"
                [nzColor]="'volcano'"
                (click)="deleteDocument(data._id)"
              >Удалить
              </nz-tag>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>

<nz-dropdown-menu #documentNumber="nzDropdownMenu">
  <div [formGroup]="searchDocumentByField" class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        formControlName="documentNumber"
        nz-input
        placeholder="По ИД документа"
        type="text"
      />
      <button
        (click)="search()"
        class="search-button"
        nz-button
        nzSize="default"
        nzType="primary"
      >
        Search
      </button>
      <button
        (click)="resetByField('documentNumber')"
        nz-button
        nzSize="default"
      >
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #title="nzDropdownMenu">
  <div [formGroup]="searchDocumentByField" class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        formControlName="title"
        nz-input
        placeholder="По названию"
        type="text"
      />
      <button
        (click)="search()"
        class="search-button"
        nz-button
        nzSize="default"
        nzType="primary"
      >
        Search
      </button>
      <button (click)="resetByField('title')" nz-button nzSize="default">
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #createdDate="nzDropdownMenu">
  <div [formGroup]="searchDocumentByField" class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-date-picker
        [nzDisabledDate]="disableFutureDates"
        formControlName="createdDate"
        nzFormat="dd-MM-yyyy"
        nzSize="default"
      ></nz-date-picker>
      <button
        (click)="search()"
        class="search-button"
        nz-button
        nzSize="default"
        nzType="primary"
      >
        Search
      </button>
      <button (click)="resetByField('createdDate')" nz-button nzSize="default">
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #docName="nzDropdownMenu">
  <div [formGroup]="searchDocumentByField" class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        formControlName="docName"
        nz-input
        placeholder="По документу"
        type="text"
      />
      <button
        (click)="search()"
        class="search-button"
        nz-button
        nzSize="default"
        nzType="primary"
      >
        Search
      </button>
      <button (click)="resetByField('docName')" nz-button nzSize="default">
        Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-modal
  (nzOnCancel)="handleCancelDocumentModal()"
  (nzOnOk)="createDocument()"
  [(nzVisible)]="isVisibleAddDocumentModal"
  nzCentered
  nzTitle="Название документа"
>
  <ng-container *nzModalContent>
    <form [formGroup]="addDocumentForm">
      <nz-input-group [nzSuffix]="suffixTemplateInfo" nzAddOnAfter=".pdf">
        <input formControlName="title" nz-input type="text"/>
      </nz-input-group>

      <ng-template #suffixTemplateInfo>
        <span
          nz-icon
          nz-tooltip
          nzTooltipTitle="Название документа должно быть указано!"
          nzType="info-circle"
        ></span>
      </ng-template>
    </form>
  </ng-container>
</nz-modal>
