<div class="document">
  <button (click)="showAddDocumentModal()" class="document__add" nz-button nzType="default">
    Добавить
  </button>
  <nz-table #sortTable [nzBordered]="true" [nzData]="documentList$ | async" [nzLoading]="isLoadingTable"
    [nzPageIndex]="paginationDocuments.page" [nzPageSize]="paginationDocuments.limit"
    [nzPageSizeOptions]="[20, 50, 100]" (nzPageIndexChange)="handlePageChange($event)"
    (nzPageSizeChange)="handleLimitChange($event)" class="document__table" nzShowSizeChanger nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzCustomFilter nzWidth="200px">
          ID документа
          <nz-filter-trigger [(nzVisible)]="searchDocumentIdVisible" [nzActive]="
              searchDocumentByField.get('documentId').value.length > 0
            " [nzDropdownMenu]="documentId">
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter>
          Заголовок
          <nz-filter-trigger [(nzVisible)]="searchTitleVisible" [nzActive]="
              searchDocumentByField.get('title').value.length > 0
            " [nzDropdownMenu]="title">
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter>
          Документ
          <nz-filter-trigger [(nzVisible)]="searchDocumentNameVisible" [nzActive]="
              searchDocumentByField.get('documentName').value.length > 0
            " [nzDropdownMenu]="documentName">
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter nzWidth="200px">
          Дата создания
          <nz-filter-trigger [(nzVisible)]="searchCreatedDateVisible" [nzActive]="
              formatDate.length > 0 || false
            " [nzDropdownMenu]="createdDate">
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </th>
        <th nzWidth="250px"></th>
      </tr>
    </thead>
    <tbody class="document__table__tbody">
      @for (data of sortTable.data; track data._id) {
      <tr>
        <td>{{ data.documentNumber }}</td>
        <td>{{ (data.title || "-") | textMask: 30 }}</td>
        <td>{{ (data.document || "-") | textMask: 30 }}</td>
        <td>{{ data.createdAt | date: "dd.MM.YYYY" }}</td>
        <td class="document__table__tbody__td">
          <div class="document__table__tbody__td__action">
            <nz-tag style="cursor: pointer" [routerLink]="['/admin/documents', data._id]">Смотреть
            </nz-tag>
            <!-- <a href="https://fdholding.gymrat.uz/uploads/IELTS_CERTIFICATE-244699367.pdf" download>download</a> -->
              <nz-tag style="cursor: pointer" [nzColor]="'cyan'" (click)="handleDownloadDocument(data)">
                  @if (data.document) {
                    Скачать
                  } @else {
                    Нет файла
                  }
              </nz-tag>
            <nz-tag style="cursor: pointer" [nzColor]="'volcano'" (click)="deleteDocument(data.id)">Удалить
            </nz-tag>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>

</div>

<nz-dropdown-menu #documentId="nzDropdownMenu">
  <div [formGroup]="searchDocumentByField" class="ant-table-filter-dropdown">
    <div class="search-box">
      <input formControlName="documentId" nz-input placeholder="По ИД документа" type="text" />
      <button (click)="search()" class="search-button" nz-button nzSize="default" nzType="primary">
        Search
      </button>
      <button (click)="reset('documentId')" nz-button nzSize="default">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #title="nzDropdownMenu">
  <div [formGroup]="searchDocumentByField" class="ant-table-filter-dropdown">
    <div class="search-box">
      <input formControlName="title" nz-input placeholder="По названию" type="text" />
      <button (click)="search()" class="search-button" nz-button nzSize="default" nzType="primary">
        Search
      </button>
      <button (click)="reset('title')" nz-button nzSize="default">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #createdDate="nzDropdownMenu">
  <div [formGroup]="searchDocumentByField" class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-date-picker [nzDisabledDate]="disableFutureDates" nzFormat="dd-MM-yyyy" formControlName="createdDate"
        nzSize="default"></nz-date-picker>
      <button (click)="search()" class="search-button" nz-button nzSize="default" nzType="primary">
        Search
      </button>
      <button (click)="reset('createdDate')" nz-button nzSize="default">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #documentName="nzDropdownMenu">
  <div [formGroup]="searchDocumentByField" class="ant-table-filter-dropdown">
    <div class="search-box">
      <input formControlName="documentName" nz-input placeholder="По документу" type="text" />
      <button (click)="search()" class="search-button" nz-button nzSize="default" nzType="primary">
        Search
      </button>
      <button (click)="reset('documentName')" nz-button nzSize="default">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-modal (nzOnCancel)="handleCancelDocumentModal()" (nzOnOk)="createDocument()"
  [(nzVisible)]="isVisibleAddDocumentModal" nzCentered nzTitle="Название документа">
  <ng-container *nzModalContent>
    <form [formGroup]="addDocumentForm">
      <nz-input-group [nzSuffix]="suffixTemplateInfo" nzAddOnAfter=".pdf">
        <input formControlName="title" nz-input type="text" />
      </nz-input-group>

      <ng-template #suffixTemplateInfo>
        <span nz-icon nz-tooltip nzTooltipTitle="Название документа должно быть указано!" nzType="info-circle"></span>
      </ng-template>
    </form>
  </ng-container>
</nz-modal>