<div class="container">
  <div class="container__wrapper">
    <img alt="apex bank logo" height="200" src="/assets/logo.svg" width="400">
    <form [formGroup]="loginForm" class="container__wrapper__form">
      <input [formControl]="loginForm.controls.username" name="username" nz-input placeholder="Ваш юзернейм"
             type="text">
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          [formControl]="loginForm.controls.password"
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          placeholder="Ваш пароль"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <span
          (click)="passwordVisible = !passwordVisible"
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          nz-icon
        ></span>
      </ng-template>
    </form>
    @for (message of messages; track message) {
      <nz-alert nzCloseable class="container__wrapper__tag" nzType="info"
                [nzMessage]="message | stringOrJson"></nz-alert>
    }
    <button (click)="login()" [disabled]="!loginForm.valid" [nzLoading]="loading" class="container__wrapper__btn"
            nz-button
            nzType="primary">Войти в аккаунт
    </button>
  </div>
</div>
