@import 'styles';

:host {
  .qrCode {
    @include flex-column(center, center, 20px);
    width: fit-content;
    margin-bottom: 100px;

    &__wrapper {
      width: fit-content;
      border: 1px solid #f0f0f0;
      border-radius: 5px;

      &__code {
        cursor: pointer;
      }
    }
  }

  .document__uploads {
    @include flex(center, space-between, 20px);

    &__item {
      width: 100% !important;
      height: 500px !important;
    }
  }

}

::ng-deep {
  .ant-upload.ant-upload-select-picture-card {
    width: 100% !important;
    height: 500px !important;
  }
}

