@import 'styles';

:host {
  .qrCode {
    @include flex(flex-start, space-between, 20px);
    padding-top: 40px;

    &__downloader {
      @include flex-column(center, center, 20px);
      width: fit-content;

      &__wrapper {
        width: fit-content;
        border: 1px solid #f0f0f0;
        border-radius: 5px;

        &__code {
          cursor: pointer;
        }
      }
    }
  }

  .document__uploads {
    @include flex(flex-start, center, 20px);
    width: 100%;

    &__item {
      display: flex;
      flex-direction: column-reverse;

      width: 100%;

      &__btn {
        align-self: flex-end;
      }

      &__uploader {
        max-width: 500px;
        height: 600px;
      }
    }
  }

}

::ng-deep {
  .ant-upload.ant-upload-select-picture-card {
    width: 100% !important;
    height: 500px !important;
  }

  .ng2-pdf-viewer-container::-webkit-scrollbar {
    width: 2px !important;
    background-color: white !important;
    border-radius: 20px !important;
  }

  .ng2-pdf-viewer-container::-webkit-scrollbar:horizontal {
    height: 3px !important;
  }

  .ng2-pdf-viewer-container::-webkit-scrollbar-thumb {
    background: #ececec !important;
  }
}

