<div class="qrCode" id="download">
  <div class="qrCode__wrapper">
    <qrcode
      #qrCode
      [allowEmptyString]="true"
      [alt]="'A custom alt attribute'"
      [ariaLabel]="'QR Code image with the following content...'"
      [colorDark]="'#000'"
      [colorLight]="'#ffffffff'"
      [cssClass]="'center'"
      [elementType]="'img'"
      [errorCorrectionLevel]="'M'"
      [qrdata]="qrCodeLink"
      [scale]="128"
      [title]="'A custom title attribute'"
      [width]="200"
      class="qrCode__wrapper__code"
    ></qrcode>
  </div>

  <button
    (click)="downloadQrCode(qrCode)"
    class="qrCode__wrapper__btn"
    nz-button
    nzType="primary"
  >
    Download
  </button>
</div>

<div class="document__uploads">
  <div class="document__uploads__item">
    @if (!translatedPdfSrc) {
      <nz-upload
        (nzChange)="onUploadChange('translated', $event)"
        [nzShowUploadList]="false"
        class="avatar-uploader"
        nzListType="picture-card"
        nzName="avatar"
      >
          <span
            class="upload-icon"
            nz-icon
            [nzType]="loading ? 'loading' : 'plus'"
          ></span>
        <div class="ant-upload-text">Upload translated</div>
      </nz-upload>
    } @else {
      <button
        (click)="deleteSelectedPdf('translated')"
        class="qrCode__wrapper__btn"
        nz-button
        nzType="primary"
      >
        Delete
      </button>

      <pdf-viewer
        [src]="translatedPdfSrc"
        [show-all]="false"
        [autoresize]="false"
        [render-text]="false"
        [original-size]="true"
        style="width: 100%; height: 500px"
      ></pdf-viewer>
    }
  </div>

  <div class="document__uploads__item">
    <nz-upload
      (nzChange)="onUploadChange('original',$event)"
      [nzShowUploadList]="false"
      class="avatar-uploader"
      nzListType="picture-card"
      nzName="avatar"
    >
      @if (!originalPdfSrc) {
        <span
          class="upload-icon"
          nz-icon
          [nzType]="loading ? 'loading' : 'plus'"
        ></span>
        <div class="ant-upload-text">Upload Original</div>
      } @else {
        <button
          (click)="deleteSelectedPdf('original')"
          class="qrCode__wrapper__btn"
          nz-button
          nzType="primary"
        >
          Delete
        </button>
        <pdf-viewer
          [src]="originalPdfSrc"
          [show-all]="false"
          [autoresize]="false"
          [render-text]="false"
          [original-size]="true"
          style="width: 100%; height: 500px"
        ></pdf-viewer>
      }
    </nz-upload>
  </div>
</div>
